<div class="container">
  <div class="row">
    <center><img id="ham" src="../assets/img/hamburger.png" width="200px">
    <h1 class="title">Eat-Da-Burger</h1></center>
  </div>

<div class="row">
  <div class="col-md-6">
    <h2 class="uneaten-title">Current Burgers</h2>
    <div class="uneaten">
      {{#each burgers}}
        {{#unless this.devoured}}
            <form class="input-group" action="burgers/update/{{this.id}}?_method=PUT" method="POST">
        
            <ol>
              {{this.id}}.   {{this.burger_name}}
            </ol>
              <input class="form-control" type="hidden" name="devoured" value="true">
              <span class="input-group-btn">
              <button type="submit" class="btn btn-default" style="background-color:orange; color:yellow; margin-right: 200px;">Devour It!</button>
            </span>
            </form>
        {{/unless}}
      {{/each}}
    </div>
</div>
  <div class="col-md-6" id="eaten">
    <h2 class="eaten-title">Eaten Burgers</h2>
      <div class="burgers-eaten">
        {{#each burgers}}
          {{#if this.devoured}}
            <ol>
               {{this.id}}.   {{this.burger_name}}
            </ol>
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
             <input type="hidden" name="devoured" value="false">
            </form>
          {{/if}}
        {{/each}}
      </div>

    </div>
</div>

<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4" id="update">
      <br><br><br>
        <form class="create-update-form" action="burgers/create" method="POST">
          <h2 class="add-title">Add a Burger</h2>
          <div class="input-group">
            <label for="newBurger">Burger Name</label><br>
            <input type="hidden" name="devoured" value="0">
            <input type="text" class="form-control" id="newBurger" name="name">
          <button type="submit" class="btn btn-default" style="background-color:orange; color:yellow; margin-left: 130px;">Add Burger</button>
          <br>
          <br>
        </form>
      </div>
</div>